/* Give your page a fun background color */
body {
    background-image: url(imagesofme/bubbles.jpg);
    background-color: #E9BBE5;
    background-blend-mode:color-burn;
}
/* Make the header and footer a different color from the background */
.lightBackgroundColor {
    background-color: #E5A0DC;
}
/* Align the h1 containing your name in the center of the header*/
.h1Center {
    text-align: center;
}
/* Make your p tag a different color and italic */
.darkPurple {
    color: #9442a8;
}
.itallicFontStyle {
    font-style: italic;
}
/* Put a border around your image */
.funBorderLargeImage {
    border: 15px groove #BE2490;
}
/* Change the font-family of your list */
.courierFont {
    font-family:'Courier New', Courier, monospace;
}

.footerFont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.headerFont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.imageDetails1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 70px;
}

.inline-block {
    display: inline-block;
 }

 .headerImages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    border-radius: 50%;
 }

 .headerImageBorder {
     border: 5px groove #BE2490;
 }

 .aligningDiv {
     display: flex;
     align-items: center;
     justify-content: space-around;
 }

 .smallBorderRadius {
     border-radius: 10px;
 }

 .ulStyle {
    list-style-type: square;
    background: #cc3ca1;
    padding: 20px;
    border-radius: 10px;;
 }

 .liStyle {
    background-color: #E9BBE5;
    color: #52285d;
    padding: 3px;
    margin-left: 25px;
    border-radius: 100px;;
 }